<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Клевый сайт!!!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
     <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
</head>
<body>

<header id="header">

    <div class="block"><a href="https://html5book.ru/hyperlinks-in-html/">
        <img src="{% static 'img/logo.png' %} " alt="" class="logo"></a></div>
    <div class="block">Hello</div>
    <div class="block">World</div>
    <div class="block">!!!</div>

</header>
<nav class="nav">
    <ul class="nav_ul">
        <li>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="find" placeholder="Введите наименование">
                <button>Ок</button>
            </form>
        </li>
        <li><a href="{% url 'main:main_page' %}">Главная</a></li>
        {%  for cat in categories %}
        <li><a href="{% url 'main:category_sort' cat.id %}">{{cat.name}}</a></li>
        {% endfor %}

    </ul>

</nav>

<main class="main">
    {% block content %}
<h2>{{ error }}</h2>
    {% for p in product %}
    <div class = "item_img">
        <img src="{{ p.image.url }} " alt="" class="img">
        <p>Наименоваяние:<br>{{ p.title}}</p>
        <p>Описание:<br>{{ p.discription}}</p>
        <p>Цена:<br>{{ p.price}}</p>
        <p>Дата добовления:<br>{{ p.created}}</p>
        <p>Дата обновления:<br>{{ p.update}}</p>
        <p>Категория:<br>{{ p.categories}}</p>

    </div>
    {% endfor %}
    {% for prod in products %}
    <div class = "item_img">
        <img src="{{ prod.image.url }} " alt="" class="img">
        <p>Наименоваяние:<br>{{ prod.title}}</p>
        <p>Описание:<br>{{ prod.discription}}</p>
        <p>Цена:<br>{{ prod.price}}</p>
        <p>Дата добовления:<br>{{ prod.created}}</p>
        <p>Дата обновления:<br>{{ prod.update}}</p>
        <p>Категория:<br>{{ prod.categories}}</p>

    </div>
{% endfor %}
{% endblock %}
</main>
<footer role="contentinfo">
  По всем вопросам обращатся по телефону +375337443388
</footer>
<!--<script src="{% static 'js/index.js' %}"></script>-->
</body>
</html>